.section1 {
  color: #4D4D4D;
  font-size: 18px;
  margin-top: 50px;
}
.section1__main-block {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.section1__caption {
  text-align: center;
  color: #E35A5C;
  font-size: 30px;
}
.section1__right-block {
  padding: 30px 0 0 100px;
  width: 720px;
}
.section__left-block {
  width: 650px;
}
.section1 img {
  width: 230px;
  border-radius: 120px;
  margin-left: 8%;
}
.section1__right-block p {
  text-align: center;
}
.section1__main-menu h1 {
  color: #E35A5C;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.section1__main-menu p {
  text-align: center;
}
.section1__main-menu {
 margin-top:70px;
}
@media (max-width: 950px) {
  .section1__main-block {
    flex-wrap: wrap;
  }
  .section1__main-menu h1 {
    font-size: 20px;
  }
  .section1__right-block {
    padding: 0;
    width: 650px;
  }
  .section__left-block {
    width: 650px;
  }
  .section1 img {
    width: auto;
    border-radius: 1120px;
    margin-left: 0;
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .section1__caption {
    font-size: 22px;
  }
  .section1 {
    font-size: 16px;
  }
  .section1__main-menu {
 margin-top:30px;
}
}


@import "normalize.less";//сброс стилей
@import "mixins.less";//все примеси(миксины)
@import "variables.less";//все переменные

.header-page{
	.flex-cont(column, nowrap);
	width: 100%;
	overflow: hidden;
	
	&__header-top{
		width: 100%;
		.flex-cont(row, nowrap, space-between, center);
		padding: .5rem 4rem;
		background-color: white;

		&__logo{

		}
		/* End __logo */

		&__main-menu{
			.flex-cont(row,nowrap);
			list-style: none;
			box-sizing: border-box;
			font-size: .9rem;
			& a{
				font-size: 1em;
				color: rgb(100, 100, 100);
				padding: .6em .8em;
				margin-left: .3em;
				border-radius: .3em;
				text-decoration: none;
				
				&.active, &:hover{
					box-shadow: 0 0 0 1px @main-color;
					color: @main-color;
				}
			}

		}
		/* End __main-menu */

	} 
	/* End __header-top */
	
	&__header-middle{
		.flex-cont(column, nowrap, center, flex-start);
		width: 100%;
		color: white;
		padding: 4rem;
		background: rgb(60, 60, 60s);

		&__slide{
			.flex-cont(column, nowrap, center, center);
		}
		/* End __slide */

	}
	/* End __header-middle */
} 
/* End .header-page */

